<h4>Listado</h4>
<ul class="list-group">
  <li *ngFor="
    let character of characterList;
    let i = index;
    let isFirst = first;
    let isLast = last;
    let isEven = even;
    let isOdd = odd;
    "
    class="list-group-item"
    [ngClass]="{
      'list-group-item-primary': isEven,
      'list-group-item-success': isOdd,
      'list-group-item-dark': isLast,
      }"
    >


    <span class="text-primary" > {{ i + 1 }} </span>

    <span>{{ character.name }} - </span>

    <strong>Power: </strong>

    <span>{{ character.power }}</span>

    <!-- <span><br> Es el primero: {{ isFirst }} || <br></span>
    <span>Es el último: {{ isLast }} <br></span> -->

  </li>
</ul>
